.button {
  @include flex-properties(row, center, center);
  align-self: flex-start;

  width: 100%;

  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 1em 10px 1em;

  @include font-properties(white, $roboto, 1.2em, bolder, center);
  text-decoration: none;

  background: none;
  background-color: $red1;

  border: none;
  border-radius: 10px;
  box-shadow: 0 0.5vmin 1vmin 0vmin rgba(255, 128, 128, 0.1);

  cursor: pointer;
  transition: 0.1s ease;
}

.button:hover {
  background-color: $red2;
}

.button:active {
  background-color: $red1;
  transform: scale(0.97);
}

/*
.back-button {
  background: none;
  border: none;
  width: 2em;
  height: 4em;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.1s ease;
}

.back-button svg {
  stroke: var(--darkest-color);
}

.back-button:hover {
  opacity: 0.8;
}
*/

.close-button,
.close-button-sidebar {
  @include dimension-properties(100%, 100%);
  @include flex-properties(row, center, center);
  @include font-properties($black1, $inter, 1.2em, 900, center);
  margin-right: 15px;

  background: none;
  border: none;
  border-radius: 30px;

  cursor: pointer;
  transition: 0.1s ease;
}

.close-button {
  margin-top: -8px;
}

.close-button:hover,
.close-button-sidebar:hover {
  opacity: 0.8;
  color: $red1;
}

@media screen and (min-width: 1080px) {
  .back-button {
    display: none;
  }
}
