@mixin flex-properties($direction, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin position-properties(
  $position: null,
  $top: null,
  $left: null,
  $z-index: null
) {
  position: $position;
  top: $top;
  left: $left;
  z-index: $z-index;
}

@mixin dimension-properties($height, $width) {
  height: $height;
  width: $width;
}

@mixin font-properties(
  $color: null,
  $family: null,
  $size: null,
  $weight: null,
  $align: null
) {
  color: $color;
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  text-align: $align;
}
