/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Roboto:wght@400;700&display=swap");

$roboto: "Roboto", sans-serif;
/* font weights: 400, 700 */
$inter: "Inter", sans-serif;
/* font weights: 700, 900 */

/* colors */
$green1: #b5e3d4;
$green2: rgb(162, 218, 183);

$red1: #ef7c8e;
$red2: rgb(234, 116, 129);

$violet1: #8667ce;
$violet2: #704fbc;

$orange1: #f8b468;
$orange1: #fafda4;

$cream1: rgb(250, 238, 232);
$cream2: rgb(229, 206, 194);
$black1: rgb(63, 59, 58);

/* sizes */
