/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Roboto:wght@400;700&display=swap");

$roboto: "Roboto", sans-serif;
/* font weights: 400, 700 */
$inter: "Inter", sans-serif;
/* font weights: 700, 900 */

/* colors */
$green1: rgb(181, 227, 212);
$green2: rgb(162, 218, 183);

$red1: rgb(239, 124, 142);
$red2: rgb(234, 116, 129);

$violet1: rgb(134, 103, 206);
$violet2: rgb(112, 79, 188);

$orange1: #fda745;

$cream1: rgb(250, 238, 232);
$cream2: rgb(222, 196, 183);
$black1: rgb(63, 59, 58);

/* sizes */
