/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Roboto:wght@400;700&display=swap");
/* font weights: 400, 700 */
/* font weights: 700, 900 */
/* colors */
/* sizes */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100;
}

.toast-message {
  position: absolute;
  top: 3%;
  right: 50%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 10px 1em 10px 1em;
  margin: 50px auto;
  -webkit-transform: translate(50%, -10%);
          transform: translate(50%, -10%);
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  -webkit-animation: error 0.2s ease forwards;
          animation: error 0.2s ease forwards;
}

.toast-message-success {
  background-color: #b5e3d4;
}

.toast-message-error {
  background-color: #ef7c8e;
}

@-webkit-keyframes error {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%, -10%);
            transform: translateY(50%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

@keyframes error {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%, -10%);
            transform: translateY(50%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 1em 10px 1em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #ef7c8e;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0.5vmin 1vmin 0vmin rgba(255, 128, 128, 0.1);
          box-shadow: 0 0.5vmin 1vmin 0vmin rgba(255, 128, 128, 0.1);
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.button:hover {
  background-color: #ea7481;
}

.button:active {
  background-color: #ef7c8e;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

/*
.back-button {
  background: none;
  border: none;
  width: 2em;
  height: 4em;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.1s ease;
}

.back-button svg {
  stroke: var(--darkest-color);
}

.back-button:hover {
  opacity: 0.8;
}

.close-button,
.close-button-sidebar {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  margin-right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.1s ease;
  color: var(--darkest-color);
  font-weight: bolder;
  font-size: 1.2em;
}

.close-button {
  margin-top: -8px;
}

.close-button:hover,
.close-button-sidebar:hover {
  opacity: 0.8;
  color: var(--accent-color);
}

@media screen and (min-width: 900px) {
  .back-button {
    display: none;
  }
}
*/
.logo {
  height: 50px;
  width: 50px;
  background: url(../images/logo.svg);
  background-size: 100%;
  display: block;
}

.loading-container {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
}

.loading-logo {
  height: 10vh;
  width: 100%;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dp {
  height: 2.5em;
  width: 2.5em;
  max-width: 2.5em;
  max-height: 2.5em;
  min-width: 2.5em;
  min-height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
}

.not-dp {
  height: 1.5em;
  width: 1.5em;
  max-width: 1.5em;
  max-height: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: 400;
  text-align: center;
  border-radius: 50%;
}

.cp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.2em;
  width: 1.2em;
  position: relative;
  left: -1em;
  margin-right: -1em;
  background-color: #ea7481;
  border-radius: 100px;
}

.cp-container .cp-icon {
  stroke: white;
  width: 60%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 4em;
  background-color: #b5e3d4;
  position: relative;
  padding: 10px;
}

nav .nav-link {
  height: 4em;
  width: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0 10px 0;
  background: none;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .nav-link .icon {
  width: 2.5em;
  color: white;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .nav-link:last-child {
  margin-top: auto;
  overflow: hidden;
}

nav .nav-link:hover {
  background-color: #a2dab7;
}

nav .nav-link:active {
  background-color: #a2dab7;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .nav-link:active .icon {
  stroke: white;
}

nav .nav-link-active {
  background-color: #a2dab7;
  border-radius: 10px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .nav-link-active:active::before {
  opacity: 0;
}

.sidebar {
  background-color: #faeee8;
  width: 100vw;
  padding: 20px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  -webkit-animation: openSidebar 0.1s ease forwards;
          animation: openSidebar 0.1s ease forwards;
}

@-webkit-keyframes openSidebar {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes openSidebar {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.sidebar-title {
  color: #3f3b3a;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5cec2;
}

.user-container {
  color: #3f3b3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-email {
  margin-left: 10px;
  display: inline-block;
  word-break: break-all;
}

@media screen and (min-width: 1080px) {
  .sidebar {
    width: 23vw;
    border-right: 1px solid #e5cec2;
  }
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.landing-hero {
  display: none;
}

.landing-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  padding: 10%;
}

.landing-title {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.landing-subtitle {
  color: #8667ce;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.input-container span {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transform: translate(20px, 140%);
          transform: translate(20px, 140%);
  z-index: 1;
}

.input-container input {
  height: 3em;
  width: 100%;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  outline: none;
  border-radius: 10px;
  border: 2px solid #faeee8;
  padding: 2em 20px 1em 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.input-container input:hover {
  border: 2px solid #b5e3d4;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.checkbox-container input {
  accent-color: #b5e3d4;
}

.checkbox-container span {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  margin-left: 10px;
}

.landing-switch {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.hyperlink {
  color: #8667ce;
}

@media screen and (min-width: 1080px) {
  .landing-hero {
    height: 100%;
    width: 55%;
    background: url(../images/landinghero.svg);
    background-size: 70%;
    display: block;
  }
  .landing-main {
    width: 45%;
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: openApp 0.2s ease forwards;
          animation: openApp 0.2s ease forwards;
}

@-webkit-keyframes openApp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openApp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-bars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}

.nav-bars-container-closed {
  display: none;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  -webkit-animation: openMainContent 0.1s ease forwards;
          animation: openMainContent 0.1s ease forwards;
}

@-webkit-keyframes openMainContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes openMainContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main-content-closed {
  display: none;
}
/*# sourceMappingURL=styles.css.map */