/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Roboto:wght@400;700&display=swap");
/* font weights: 400, 700 */
/* font weights: 700, 900 */
/* colors */
/* sizes */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100;
}

.toast-message {
  position: absolute;
  top: 3%;
  right: 50%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 10px 1em 10px 1em;
  margin: 50px auto;
  -webkit-transform: translate(50%, -10%);
          transform: translate(50%, -10%);
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  -webkit-animation: error 0.2s ease forwards;
          animation: error 0.2s ease forwards;
}

.toast-message-success {
  background-color: #b5e3d4;
}

.toast-message-error {
  background-color: #ef7c8e;
}

@-webkit-keyframes error {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%, -10%);
            transform: translateY(50%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

@keyframes error {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%, -10%);
            transform: translateY(50%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 1em 10px 1em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #ef7c8e;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0.5vmin 1vmin 0vmin rgba(255, 128, 128, 0.1);
          box-shadow: 0 0.5vmin 1vmin 0vmin rgba(255, 128, 128, 0.1);
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.button:hover {
  background-color: #ea7481;
}

.button:active {
  background-color: #ef7c8e;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

/*
.back-button {
  background: none;
  border: none;
  width: 2em;
  height: 4em;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.1s ease;
}

.back-button svg {
  stroke: var(--darkest-color);
}

.back-button:hover {
  opacity: 0.8;
}
*/
.close-button,
.close-button-sidebar {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f3b3a;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  margin-right: 15px;
  background: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.close-button {
  margin-top: -8px;
}

.close-button:hover,
.close-button-sidebar:hover {
  opacity: 0.8;
  color: #ef7c8e;
}

@media screen and (min-width: 1080px) {
  .back-button {
    display: none;
  }
}

.logo {
  height: 50px;
  width: 50px;
  background: url(../images/logo.svg);
  background-size: 100%;
  display: block;
}

.loading-container {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
}

.loading-logo {
  height: 10vh;
  width: 100%;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dp {
  height: 2.5em;
  width: 2.5em;
  max-width: 2.5em;
  max-height: 2.5em;
  min-width: 2.5em;
  min-height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: large;
  font-weight: 900;
  text-align: center;
  border-radius: 50%;
}

.not-dp {
  height: 1.5em;
  width: 1.5em;
  max-width: 1.5em;
  max-height: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
}

.cp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.2em;
  width: 1.2em;
  position: relative;
  left: -1em;
  margin-right: -1em;
  background-color: #ea7481;
  border-radius: 100px;
}

.cp-container .cp-icon {
  color: white;
  width: 80%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 4em;
  background-color: #b5e3d4;
  position: relative;
  padding: 10px;
}

nav .nav-link {
  height: 4em;
  width: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0 10px 0;
  background: none;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .nav-link .icon {
  width: 2.5em;
  color: white;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .nav-link:last-child {
  margin-top: auto;
  overflow: hidden;
}

nav .nav-link:hover {
  background-color: #a2dab7;
}

nav .nav-link:active {
  background-color: #a2dab7;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .nav-link:active .icon {
  stroke: white;
}

nav .nav-link-active {
  background-color: #a2dab7;
  border-radius: 10px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

nav .nav-link-active:active::before {
  opacity: 0;
}

.sidebar {
  background-color: #faeee8;
  width: 100vw;
  padding: 20px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  -webkit-animation: openSidebar 0.1s ease forwards;
          animation: openSidebar 0.1s ease forwards;
}

@-webkit-keyframes openSidebar {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes openSidebar {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

NavLink button {
  text-decoration: none;
}

.sidebar-title {
  color: #3f3b3a;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5cec2;
}

.user-container {
  color: #3f3b3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-email {
  margin-left: 10px;
  display: inline-block;
  word-break: break-all;
}

@media screen and (min-width: 1080px) {
  .sidebar {
    width: 23vw;
    border-right: 1px solid #e5cec2;
  }
}

.users-container {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 30px;
}

.users-container::-webkit-scrollbar {
  display: none;
}

.users-container-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.users-container-empty .empty-title {
  color: #3f3b3a;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.user-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: #3f3b3a;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

.user-item span {
  margin-left: 10px;
  word-break: break-all;
}

.user-item:hover,
.selected-message {
  background-color: #e5cec2;
}

.user-item:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.channel-container {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 30px;
}

.channel-container-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.channel-container-empty .empty-title {
  color: #3f3b3a;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.channel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: #3f3b3a;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.channel-item:hover,
.selected-message {
  background-color: #e5cec2;
}

.channel-item:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.inbox-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
}

.inbox-name {
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recent-message-container {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
}

.recent-message-sender {
  margin-right: 3px;
}

.recent-message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.channel-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-animation: modalAnimation 0.2s ease forwards;
          animation: modalAnimation 0.2s ease forwards;
}

.channel-modal {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  padding: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  -webkit-animation: openSidebar 0.2s ease forwards;
          animation: openSidebar 0.2s ease forwards;
}

.modal-upperhalf {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-title {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 0.1fr 3fr;
      grid-template-columns: 0.1fr 3fr;
  grid-gap: 20px;
}

.newchannel-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  -webkit-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}

@media screen and (min-width: 1080px) {
  .channel-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-animation: modalAnimation 0.2s ease forwards;
            animation: modalAnimation 0.2s ease forwards;
  }
  .channel-modal {
    height: 70%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    -webkit-animation: openSidebar 0.2s ease forwards;
            animation: openSidebar 0.2s ease forwards;
  }
}

@-webkit-keyframes modalAnimation {
  100% {
    opacity: 1;
  }
}

@keyframes modalAnimation {
  100% {
    opacity: 1;
  }
}

.search-container {
  height: 100%;
}

.search-input-container input {
  height: 2em;
  width: 100%;
  font-size: 1em;
  border-radius: 10px;
  border: 2px solid #b5e3d4;
  outline: none;
  padding: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.search-input-container input:hover,
.search-input-container input:focus {
  border: 2px solid #a2dab7;
}

.search-results {
  overflow: scroll;
  height: 85%;
  z-index: 100;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.search-results span {
  margin-left: 10px;
}

.newmsg-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  background-color: #b5e3d4;
  border-bottom: #a2dab7;
}

.newmsg-search-container span:first-child {
  font-weight: 700;
}

.newmsg-search-input-container {
  width: 100%;
}

.newmsg-search-input-container input {
  width: 100%;
  min-width: 100%;
  border: none;
  outline: none;
  background: white;
  font-size: 1.1em;
  padding: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.newmsg-search-results {
  width: 100%;
  max-height: 50%;
  overflow: scroll;
  padding: 15px;
  background-color: #faeee8;
  border-bottom: 1px solid #e5cec2;
  -webkit-animation: openSearch 0.3s ease;
          animation: openSearch 0.3s ease;
}

.newmsg-search-results::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes openSearch {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 50%;
  }
}

@keyframes openSearch {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 50%;
  }
}

.newmsg-search-item,
.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  text-decoration: none;
  color: #3f3b3a;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.newmsg-search-item:hover,
.search-item:hover {
  background-color: #e5cec2;
}

.newmsg-search-item:active,
.search-item:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.newmsg-search-item span,
.search-item span {
  margin-left: 10px;
  word-break: break-all;
}

.newchannel-search-results {
  position: absolute;
  top: 100%;
  left: auto;
  z-index: 999;
  width: 100%;
  border-radius: 10px;
  background-color: #e5cec2;
}

.newchannel-users-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #faeee8;
  border-radius: 10px;
  padding-right: 15px;
  padding-top: 15px;
}

.newchannel-users-container::-webkit-scrollbar {
  display: none;
}

.newchannel-users-container-label {
  z-index: 1;
  text-transform: uppercase;
  font-size: 0.7em;
  color: grey;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.select-users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  background: white;
  padding: 10px;
  border-radius: 100px;
  margin-left: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}

.select-users-container:hover {
  background-color: #e5cec2;
}

.select-users-container span {
  margin-left: 10px;
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.landing-hero {
  display: none;
}

.landing-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  padding: 10%;
}

.landing-title {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.landing-subtitle {
  color: #8667ce;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.input-container span {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transform: translate(20px, 140%);
          transform: translate(20px, 140%);
  z-index: 1;
}

.input-container input {
  height: 3em;
  width: 100%;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  outline: none;
  border-radius: 10px;
  border: 2px solid #faeee8;
  padding: 2em 20px 1em 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.input-container input:hover {
  border: 2px solid #b5e3d4;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.checkbox-container input {
  accent-color: #b5e3d4;
}

.checkbox-container span {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  margin-left: 10px;
}

.landing-switch {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.hyperlink {
  color: #8667ce;
}

@media screen and (min-width: 1080px) {
  .landing-hero {
    height: 100%;
    width: 55%;
    background: url(../images/landinghero.svg);
    background-size: 70%;
    display: block;
  }
  .landing-main {
    width: 45%;
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: openApp 0.2s ease forwards;
          animation: openApp 0.2s ease forwards;
}

@-webkit-keyframes openApp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openApp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-bars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}

.nav-bars-container-closed {
  display: none;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  -webkit-animation: openMainContent 0.1s ease forwards;
          animation: openMainContent 0.1s ease forwards;
}

@-webkit-keyframes openMainContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes openMainContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main-content-closed {
  display: none;
}
/*# sourceMappingURL=styles.css.map */